{% load static %}

<!-- Footer -->
<div class="container">
    <hr class="my-4 ">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <p class="mb-2 text-muted">
                Developed by <strong style="color: pink;">Phạm Quốc Tuấn ❤️</strong>
            </p>
            <p class="mb-2 text-muted">
                IT - Saigon University
            </p>
            <p class="mb-4 text-muted">
                &copy;
                <script>document.write(new Date().getFullYear());</script>
                Music Web. All rights reserved.
            </p>
        </div>
    </div>
</div>